@charset "UTF-8";

/* DejaVu Sans Condensed */
@font-face {
    font-family: "DejaVuSans";
    src: url("fonts/dejavu.eot"); /* IE 9 Compatibility Mode */
    src: url("fonts/dejavu.eot?#iefix") format("embedded-opentype"), /* IE < 9 */
         url("fonts/dejavu.woff2") format("woff2"), /* Chrome 36, Opera 23, Firefox 35 */
         url("fonts/dejavu.woff") format("woff"), /* Firefox >= 3.6, any other modern browser */
         url("fonts/dejavu.ttf") format("truetype"), /* Safari, Android, iOS */
         url("fonts/dejavu.svg#dejavu") format("svg"); /* Chrome < 4, Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/* Game Pi Dice Dominoes */
@font-face {
    font-family: "GamePi";
    src: url("fonts/gamepi.eot"); /* IE 9 Compatibility Mode */
    src: url("fonts/gamepi.eot?#iefix") format("embedded-opentype"), /* IE < 9 */
         url("fonts/gamepi.woff2") format("woff2"), /* Chrome 36, Opera 23, Firefox 35 */
         url("fonts/gamepi.woff") format("woff"), /* Firefox >= 3.6, any other modern browser */
         url("fonts/gamepi.ttf") format("truetype"), /* Safari, Android, iOS */
         url("fonts/gamepi.svg#gamepi") format("svg"); /* Chrome < 4, Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

